header{
	
	background-color:#BFD8D2 ;
	padding-bottom:  5px;
}
h1{
	color:	#DF744A;
	text-align: center;
	font-family: Imapct;
	font-size: 350%;
}

nav{
	font-family: Bookman Old Style;
	text-align: center;
	color: black;
	font-size: 150%;

}

body{
	
	background-color: #FEDCD2;
	font-family: Modern,Arial;
	margin: 4%;

}

section{
	width:30%;
	display: inline-block;
	margin-right: 2%;
	float:left;
}

h2{
	color: #DF744A ;
	font-family: Century Gothic;
	font-size: 200%;
	background-color:#BFD8D2; 
}
summary{
	font-style: italic;
}
footer{
	background-color: #dcb239;
	clear: both;
}

span{
	font-style: italic;
}
img{
	width: 75px;
}